* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 62.5%
}
:root {
    --green-color: #7acc2d;

}
.nav {
    background-color: var(--green-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul {
    display: flex;
}
.nav li{
    padding-right: 1rem;
    list-style: none;
}
.nav li a, p {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.nav li a:hover {
    color: rgb(134, 128, 128);
}

         /* main */

h1{
    margin: 5rem;
font-size: 2.5rem;
align-items: center;
}
 h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.3rem;
}
p, a {
    font-size: 1rem;
}
.main {
    width: 100%;
}
.products-container {
    background-image: url("../Assets/image/curve.png");
    background-size: 100% 50vh;
    background-repeat: no-repeat;
    margin-top: 7rem;
    padding-bottom: 2.5rem;
   
}
.products {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    margin-bottom: 2rem;


}
.product-content {
    max-width: 125px;
    margin-left: 1.3rem;
    box-shadow: 0 0 3px 2px #c1bcbc;
    position: relative;
    top: -5rem;
  
}

.products img {
    width: 80%;
    position: relative;
    left: 1rem
}



.main-button {
    background-color: var(--green-color);
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 0;
}
.main-button a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.main-button:hover {
    background-color: #5e9e22;
    cursor: pointer;
}

         /* features */

.features-container {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
}
.feature img {
   max-width: 80px;
}
.feature {
    max-width: 200px;
 margin: 1rem; 
 padding-left: 0.8rem;
 margin-bottom:5rem;
}
         /* opinions */

.opinions h2{
    text-align: center;
    margin-top: 5rem;
}

.opinion img{
    width: 100%;
}
.opinion {
  width: 80%;
  max-width: 350px;
  margin: 1rem auto;

  box-shadow: -1px 6px 3px 1px #00000042;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
}

           /* sale page */


.product-venta--container{
    width: 80%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.venta-product, .venta-form {
    box-shadow: -1px 3px 3px 3px #dfdfdf;
    border-radius: 3px;
    width: 300px;
    height: 280px;
}
.venta-product {
  margin-right: 1.5rem;
  height: 250px;
}
.venta-product h3, p{
  margin: 1rem 1rem;
}
.venta-product img {
   margin: 0 6rem;
}
.venta-form label, button, input {
  display: block;
  width: 80%;
  margin: 0.3rem auto;
  padding: 0.8rem;
  font-size: 12px;
}
.product-venta--container button  {
    color: white;
    font-weight: bold;
    background-color: var(--green-color);
    border: none;
    border-radius: 2px;
}
          /* Products */

.product{
    display: flex;
    margin: 5rem 10%;
}
.product img {
    width: 150px;
}
.info-product {
    width: 60%;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background-color: #313337;
    align-items: center;
}
.footer a {
    color: black;
    text-decoration: none;
}
.footer a:hover {
    color: #eee;
}